* {
  box-sizing: border-box;
  display: grid;
}

.grid {
  display: grid;
  border: 1px black solid;
  width: auto;
  height: 1950px;
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: repeat(26, 75px);
}

.box {
  color: black;
  border: 1px dodgerblue solid;
}

.a {
grid-area: 1 / 1 / 3 / span 2;
justify-items: center;
}

.b {
grid-area: 3 / 1 / 6 / span 2;
}

.c {
grid-area: 6 / 1 / 13 / 2;
}

.d {
grid-area: 6 / 2 / 14 / span 1;
}

.e {
grid-area: 13 / 1 / 21 / 2;
}

.f {
grid-area: 14 / 2 / 21 / span 1;
}

.g {
grid-area: 21 / 1 / 25 / span 2;
}

.h {
grid-area: 25 / 1 / span 2 / span 2;
}

/* header */
header {
  /* background-color: white; */
/* position:fixed; */
background-color: hsla(19, 63%, 50%, 0.62); 
width: auto;
  /*display: grid;
  height: 100px;
  */
}

/* navigation logo */
nav img {
width: 40px;
height: 40px;
/* display: inline-block; */
cursor: context-menu;
margin: 10px;
justify-self: left;
}

/* header */
#mainlogo img{
width: 13%;
height: 13%;
clear: none;
margin: 0 auto;
/* background: beige; */
/* padding: 20px 30px; */
box-sizing: content-box;
/*position: relative;*/
align-self: center;
justify-self: center;
}

/* search recipes */
.searchrecipes #textarea {
  min-width: 200px;
  min-height: 22px;
  justify-self: right;
}

input#submit {
background: white;
padding: 0px;
height: 20px;
width: 20px;
/* display: inline-block; */
justify-self: right;
}

header p {
  justify-self: right;
}